
@-moz-document domain("facebook.com") {
  
/* Backgrounds Color & Image */
  
  ._5vb_, ._5vb_ #contentCol{ 
    background-color: transparent !important;
  }
  
  Body{
       background-image: url("http://wallpaper.pickywallpapers.com/1920x1080/nice-clean-hd-art.jpg") !important;
       background-repeat: no-repeat !important;
       background-attachment: fixed !important;
    	 background-position: center !important; 
       background-size: cover !important;
  }
  
  ._4-u8, #leftCol, #pageFooter{
    background-color: rgba(245, 245, 245, 0.93) !important;
  }
   ._3en1, ._1mwp, ._5ss8{
    background-color: rgba(250, 250, 250, 1) !important;
    border-radius: 5px;  
  }
  
  .UFIContainer, ._sa_, ._4arz, ._ipo{
    background-color: rgba(245, 245, 245, 1) !important;
  }
  
  ._tqc, ._2dck, #pagelet_timeline_recent, ._4d6h{
    background-color: transparent !important;
  }
  
/* Text Color & Border Radius & Fix Borders */
    
  .rhcFooterWrap a, .rhcFooterCopyright, .fcg{
    color: #CCC  !important;
  }
  
  #leftCol{
    border-radius: 2px !important;
  }
  
  .fcg{
    color: #111 !important;
  }
 
  ._4arz, #pageFooter{
    border-radius: 10px !important;  
  }
  
  ._4arz span{
    margin-left: 4px !important;
  }
 
  ._1hx ._3en1{
    width: 98% !important;
  }
  
  #contentArea, #rightCol, ._4-u2, ._50f8{
    color: #111 !important;
  }

  ._2xk0._5vb_.hasLeftCol #leftCol{
    padding-left: 5px !important;
    width: 175px !important;
    
  }
  
  #leftCol{
    margin-top: 11px !important;
  }
  
  ._502f .rhcFooterWrap, ._502f .rhcFooterWrap a{
    text-shadow: none;
  }
  
/* Remove ads & games */ 
  
  #pagelet_canvas_nav_content, #pagelet_ego_pane, #u_jsonp_17_x{
    display: none !important;
  }
