@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("facebook.com") {
  
/* Backgrounds Color & Image */

  ._5vb_, #contentCol{ 
    background-color: transparent !important;
  }
  
  Body{
       background-image: url("http://wallpaper.pickywallpapers.com/1920x1080/nice-clean-hd-art.jpg") !important;
       background-repeat: no-repeat !important;
       background-attachment: fixed !important;
	   background-position: center !important; 
       background-size: cover !important;
  }
  
  ._4-u8, #pageFooter, #pagelet_pinned_posts, ._5umn, ._v_1, ._4bl7{
    background-color: rgba(245, 245, 245, 0.93) !important;
  }
  #leftCol {
	  background-color: none !important;
  }
   ._3en1, ._1mwp, ._5ss8{
    background-color: rgba(250, 250, 250, 1) !important;
    border-radius: 5px;  
  }
  
  .UFIContainer, ._sa_, ._4arz, ._ipo{
    background-color: rgba(245, 245, 245, 1) !important;
  }
  
  ._tqc, ._2dck, #pagelet_timeline_recent, ._4d6h{
    background-color: transparent !important;
  }
  
/* Text Color & Border Radius & Fix Borders */
    
  .rhcFooterWrap a, .rhcFooterCopyright, .fcg{
    color: #CCC  !important;
  }
  
  #leftCol{
    border-radius: 2px !important;
  }
  
  .fcg{
    color: #111 !important;
  }
 
  ._4arz, #pageFooter{
    border-radius: 10px !important;  
  }
  
  ._4arz span{
    margin-left: 4px !important;
  }
 
  ._1hx ._3en1{
    width: 98% !important;
  }
  
  #contentArea, #rightCol, ._4-u2, ._50f8{
    color: #111 !important;
  }

  ._2xk0._5vb_.hasLeftCol #leftCol{
    padding-left: 5px !important;
	padding-top: 0px !important;
	margin-top: 0px !important;
    width: 175px !important;
  }
  
  ._5umn {
    margin-bottom: 0px !important;
  }
  
  #leftCol{
    margin-top: 11px !important;
  }
  
  #pageFooter{
    margin-top: 4px !important;
    padding-left: 5px !important;
  }
  
  ._502f .rhcFooterWrap, ._502f .rhcFooterWrap a{
    text-shadow: none;
  }
  
  ._5vb_, ._5vb_, #contentCol, #mainContainer{
    border: 0px !important;
  }
/* Remove ads & games */ 
  
  #pagelet_canvas_nav_content, #pagelet_ego_pane, #u_jsonp_17_x, ._3u15{
    display: none !important;
  }
}

/* Settings Page */
@-moz-document url-prefix(https://www.facebook.com/settings) {
  #headerArea, #SettingsPage_Content {
    background-color: rgba(245, 245, 245, 0.93) !important;
  }
  #headerArea{
    border-radius: 2px 2px 0px 0px !important;
  }
  #SettingsPage_Content{
    border-radius: 0px 0px 2px 2px !important;
  }
  
  #headerArea H2{
    padding-left: 5px !important;
  }
  .uiSideNav .item, .uiSideNav .subitem, .hasLeftCol #contentCurve{
    border: none;
  }
  #pageFooter #contentCurve{
    display: none !important;
  }
  .mvl{
    margin-top: 0px !important;
  }
}

/* Settings Page Pay */
@-moz-document url-prefix(https://secure.facebook.com/settings?){
  ._ohe li, ._50f8{
    background-color: rgba(245, 245, 245, 0.93) !important;
    border-radius: 2px !important;
  }
  ._ohe li{
    margin: 0px 0px 0px 5px;
  }
 ._ohe li:hover{
    background-color: rgba(240, 240, 240, 0.93) !important;
  }
  ._50f8{
    padding: 2px !important;
  }
  ._2k20{
    border: 0px !important;
  }
  ._5vx1{
    margin-left: 7px !important;
  }
  .uiSideNav .item, .uiSideNav .subitem, .hasLeftCol #contentCurve{
    border: none;
  }
  #pageFooter #contentCurve{
    display: none !important;
  }
  .mvl{
    margin-top: 0px !important;
  }
}

/* Event Page */
@-moz-document url-prefix(https://www.facebook.com/events){
  ._5k5{
     background-color: rgba(245, 245, 245, 0.93) !important;
     border-radius: 2px !important;
  }
  
}

/* Event Page Calendar */
   @-moz-document url-prefix(https://www.facebook.com/events/calendar){
     .fbCalendarGridRoot #fbCalendarWrapper{
       background-color: transparent !important;
     }
}